@model WEB_API.Models.TestClass

@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm("Create", "Test", FormMethod.Post, new { id = "form1" }))
{
    @Html.AntiForgeryToken()
    if (ViewBag.isSuccess == "1")
    {
        //Success
        <p id="">Success</p>
    }


<div class="form-horizontal" style="padding:30px;">

    <h2>Create</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label for="fname" name="fname" class="control-label col-md-2"> Firstname:</label>
        <div class="col-md-10">
            <input type="text" id="fname" name="fname" class="form-control" />
            @Html.ValidationMessageFor(model => model.fname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="lname" name="lname" class="control-label col-md-2"> Lastname:</label>
        <div class="col-md-10">
            <input type="text" id="lname" name="lname" class="form-control" />
            @Html.ValidationMessageFor(model => model.lname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="email" name="email" class="control-label col-md-2">Email:</label>
        <div class="col-md-10">
            <input type="email" id="email" name="email" class="form-control" />
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
