@model IEnumerable<WEB_API.Models.TestClass>

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    @foreach (var item in Model)
    {
        <dl class="dl-horizontal">
            <dt>
               Firstname:
            </dt>
            <dd>
                @Html.DisplayFor(model => item.fname)
            </dd>
            <dt>
               Lastname:
            </dt>
            <dd>
                @Html.DisplayFor(model => item.lname)
            </dd>
            <dt>
                Email:
            </dt>
            <dd>
                @Html.DisplayFor(model => item.email)
            </dd>

        </dl>
    }

    @using (Html.BeginForm())
    {
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
