@model IEnumerable<WEB_API.Models.TestClass>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h3>Test</h3>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var m in Model)
        {
            <dt>
                @m.fname
            </dt>

            <dd>
                @Html.DisplayFor(model => m.fname)
            </dd>

            <dt>
                @m.lname
            </dt>

            <dd>
                @Html.DisplayFor(model => m.lname)
            </dd>

            <dt>
                @m.email
            </dt>

            <dd>
                @Html.DisplayFor(model => m.email)
            </dd>

        }
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
